### check for rerun based on runtime

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [12]:
dis_dir = '../analysis/distance.csv'

In [13]:
stats = pd.read_csv(dis_dir)
stats.head()

,name,ete,trv,t,v_mean,v_rms,shape,trial
0,cur_2.5_1.0_0.5_1.2_0,183.623424,283.582327,9020000,0.006324,0.006515,cur,0
1,cur_2.5_1.0_0.5_1.2_1,137.725260,248.323954,7800000,0.006411,0.006588,cur,1
2,cur_2.5_1.0_0.5_1.2_10,137.448693,293.666838,9330000,0.006357,0.006581,cur,10
3,cur_2.5_1.0_0.5_1.2_100,0.688100,1.874456,180000,0.002668,0.002887,cur,100
4,cur_2.5_1.0_0.5_1.2_101,69.494710,88.154997,2650000,0.006777,0.006891,cur,101

In [14]:
stats['t'].max()

np.int64(20040000)

In [15]:
stats_filtered = stats[stats['t']==20040000]
stats_filtered['shape'].value_counts()

shape
cur    1
Name: count, dtype: int64

In [16]:
print(len(stats_filtered))

1

In [17]:
with open('./restart.txt', 'w') as f:
    for i in stats_filtered['name']:
        f.write('   \"restart1_'+i+'.lammps\"\n')